<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://source.unsplash.com/1080x720/?home" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <hr>
    <span class="btn btn-sm btn-outline-success disabled">400.000 F cfa</span>
    <span class="float-right">Il y'a 20h</span>

    <p class="mt-4"><a href="#" class="btn btn-sm btn-success float-right">Réserver</a></p>
  </div>
</div>
