<!-- <h1>Hello {{ nom }}</h1>
<button class="btn btn-primary" (click)="activerChamp()" [innerText]= "active == false? lib1: lib2"></button>
<hr>
<input class="form-control" type="text" [(ngModel)]="nom" [disabled]="!active" placeholder="Tapez votre nom">
 -->
<app-header></app-header>
<div class="container">
  <!-- <app-jumbotron-bien></app-jumbotron-bien> -->
  <!-- <app-detail-bien></app-detail-bien> -->
  <hr>
  <!-- <app-list-biens></app-list-biens> -->
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
