<div class="container reserve">
  <div class="row">
    <div class="col-sm-8">
      <h3>Mes reservations</h3>
    <hr>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Bien reservé</th>
          <th scope="col">Date de reservation</th>
          <th scope="col">Prix</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations">
          <td>{{reservation.bien}}</td>
          <td>{{reservation.dateReservation | date: 'M/dd/yyyy'}}</td>
          <td>{{reservation.price | separator: '.'}} xof</td>
          <td class="text-center">
            <a [routerLink]="['/reservations',reservation.id]" class="text-info mr-2"><i class="fas fa-info-circle"></i></a>
            <a [routerLink]="['/reservations',reservation.id,'edit']" class="text-warning"><i class="fas fa-edit"></i></a>
          </td>
        </tr>
        <tr>
      </tbody>
    </table>
    </div>
    <div class="col-sm-4">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>


